

.footer {
    background-color: #0a73dc; 
    color: #fff;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    border-top: 5px solid #0a73dc;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-logo {
    flex: 1;
    text-align: center;
}

.footer-logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.footer-logo h4 {
    margin-top: 10px;
    font-size: 24px;
}

.footer-contact {
    flex: 1;
    text-align: left;
    padding-left: 20px;
}

.footer-contact h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-contact p {
    font-size: 16px;
    margin: 5px 0;
}

.footer-links {
    flex: 1;
    text-align: left;
    padding-left: 20px;
}

.footer-links h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin: 5px 0;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.footer-social {
    flex: 1;
    text-align: right;
    padding-right: 20px;
}

.footer-social h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-social a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    margin: 0 10px;
}

.footer-social a:hover {
    color: #005bbf;
}
